.price-highlight {
    float: right;
    font-weight: 600;
    font-style: normal;
    background-color: #d33 !important;
    color: #fff;
    height: 25px;
    padding: 2px 7px 0px 7px;
    border-radius: 3px;
}

.services-box {
    min-height: 280px;
}

.image-staffs {
    height: 500px;
}

.card-product {
    min-height: 465px;
    display: flex;
    flex-direction: column;
}

.card-product p {
    margin-right: 10px;
    margin-left: 10px;
}

.price-product {
    margin-top: auto;
}
@media (max-width: 991px) {
        #logo  {
        width: 100px;
        margin: 0 0 0 15px;
    }

    .container-logo {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .services-box {
        min-height: 145px;
    }

    .card-product {
        min-height: 400px;
    }
}
